<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bosh sahifa</title>
</head>
<body>

    <h1>Bosh sahifa</h1>
    <p>Soat: {{now}} </p>
    <hr>
    <a href="/talabalar">Talabalar</a>

    <br><br><br><br>
    <hr>

    <a href="/mualliflar">Mualliflar</a><br>
    <a href="/kitoblar">Kitoblar</a><br>
    <a href="/recordlar">Recordlar</a><br>
    <a href="/tirik">Tirik Mualliflar</a><br>
    <a href="/eng_3">Eng katta 3ta kitob</a><br>
    <a href="eng_3_muallif">Eng ko'p kitob yozgan 3 muallif</a><br>
    <a href="latest-records">Eng so'ngi 3 ta recordlar</a><br>
    <a href="books">Tirik mualliflar kitoblari</a><br>
    <a href="badiiykitoblar">Badiiy kitoblar Ro'yxati</a><br>
    <a href="oldestmualliflar">Yoshi eng katta Mualliflar</a><br>
    <a href="muallif3">kitobi 3 tadan kam maulliflar kitoblari</a><br>
    <a href="bTalabaR">Bitiruvchi talabalar recordlari</a>
</body>
</html>
