<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kutubxona | Mualliflar Ro'yhat</title>
</head>
<body>
    <h1>Mualliflar ro'yxati</h1>
    <hr>
    <a href="/">Bosh sahifa</a>
    {% for muallif in mualliflar %}
    <p>
        {{forloop.counter }}.
        <a href="/mualliflar/{{ muallif.id }}/">
            {{ muallif.ism }}
            </a>
        <a href="/mualliflar/{{muallif.id}}/delete/">
            <button>O'chirish</button>
        </a>
        {% endfor %}
        <br>

    <form>
        <select name="order">
            <option value="ism" {% if order == "ism"%} selected {% endif %}>Ism (a-z)</option>
            <option value="-ism"{% if order == "-ism"%} selected {% endif %}>Ism (z-a)</option>
        </select>
        <button>Go</button>
    </form>

         </p>
    

</body>
</html>