<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Kutubxona | Recordlar Ro'yxati </title>
</head>
<body>
    <h1>Recordlar Ro'yxati</h1>
    <hr>

    <a href="/">Bosh sahifa</a>
{% for record in recordlar %}
<p>
    {{ forloop.counter }}
    <a href="/recordlar/{{ record.id }}/">
        {{ record.talaba }} | {{ record.kitob.nom }}
    </a>

    <a href="/recordlar/{{ record.id }}/delete/">
        <button type="button">O‘chirish</button>
    </a>

    <a href="{% url 'record_update' record.id %}">
        <button type="button">Tahrirlash</button>
    </a>
</p>
{% endfor %}
    <form>
        <select name="order">
        <option value="talaba" {% if order == "talaba"%} selected {% endif %}>Talaba (a-z)</option>
        <option value="-talaba" {% if order == "-talaba"%} selected {% endif %}>Talaba (z-a)</option>
        </select>
        <button>Go</button>
    </form>


    </p>

    <hr>
    <h3>Record Qo'shish</h3>

<form method="post">
    {% csrf_token %}

    <label for="talaba">Talaba</label>
    <select name="talaba_id" id="talaba" required>
        {% for talaba in talabalar %}
        <option value="{{ talaba.id }}">{{ talaba.ism }}</option>
        {% endfor %}
    </select>
    <br><br>

    <label for="kitob">Kitob</label>
    <select name="kitob_id" id="kitob" required>
        {% for kitob in kitoblar %}
        <option value="{{ kitob.id }}">{{ kitob.nom }}</option>
        {% endfor %}
    </select>
    <br><br>

    <label for="kutubxonachi">Kutubxonachi</label>
    <select name="kutubxonachi_id" id="kutubxonachi" required>
        {% for kutubxonachi in kutubxonachilar %}
        <option value="{{ kutubxonachi.id }}">{{ kutubxonachi.ism }}</option>
        {% endfor %}
    </select>
    <br><br>

    <label for="sana">Olingan Sana</label>
    <input type="date" name="olingan_sana" id="sana" required>
    <br><br>

    <label for="sanasi">Qaytarish Sanasi</label>
    <input type="date" name="qaytarish_sana" id="sanasi" required>
    <br><br>

    <button type="submit">Qo'shish</button>
</form>

    <hr>
<h3>Recordlar Qo'shish</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Qo'shish</button>
    </form>
</body>
</html>
