<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kutubxona | Talabalar ro'yxati</title>
</head>
<body>
    <h1>Talabalar ro'yxati</h1>
    <hr>
    <form>
        <input type="text" name="search" placeholder="Ism bo'yicha.." {% if search %}value="{{ search }}"{% endif %}>
        <button>Qidirish</button>
    </form>
    <br>
    <form >
        <select name="order">
            <option value="ism" {% if order == "ism"%} selected {% endif %}>Ism (a-z)</option>
            <option value="-ism"{% if order == "-ism"%} selected {% endif %}>Ism (z-a)</option>
            <option value="-kitob_soni" {% if order == "-kitob_soni"%} selected {% endif %} >Kitob kamayish tartibida</option>
            <option value="kitob_soni" {% if order == "kitob_soni"%} selected {% endif %} >Kitob o'sish tartibida</option>
        </select>
        <button>Go</button>
    </form>
    <br>
        <form >
        <select name="kurs">
            <option value="0">Barchasi</option>
            <option value="1" {% if kurs == "1" %} selected {% endif %}>1-kurs</option>
            <option value="2" {% if kurs == "2" %} selected {% endif %}>2-kurs</option>
            <option value="3" {% if kurs == "3" %} selected {% endif %}>3-kurs</option>
            <option value="4" {% if kurs == "4" %} selected {% endif %}>4-kurs</option>
        </select>
        <button>Filter</button>
    </form>
    <hr>
    <a href="/">Bosh sahifa</a>
    {% for talaba in talabalar %}
        <p>
            {{ forloop.counter}}.
            <a href="/talabalar/{{ talaba.id }}/">
                {{talaba.ism}}
            </a>

            <a href="/talabalar/{{ talaba.id }}/delete/confirm/">
                <button>O'chirish</button>
            </a>

            <a href="/talabalar/{{ talaba.id }}/update/">
                <button>Yangilash</button>
            </a>

        </p>
    {% endfor %}
    <hr>
    <h3>Yangi Talaba Qo'shish</h3>
    <form method="post">
        {% csrf_token %}
        <label for="name">Ism:</label>
        <input type="text" name="ism" id="name" required>
        <br><br>
        <label for="group">Guruh:</label>
        <input type="text" name="guruh" id="group" required>
        <br><br>
        <label for="kurs">Kurs:</label>
        <input type="number" name="kurs" id="kurs" value="1">
        <br><br>
        <label for="numOfbooks">Kitob soni:</label>
        <input type="number" name="kitob_soni" id="numOfbooks" value="0">
        <br><br>
        <button>Qo'shish</button>
    </form>
    <hr>
<h2>Talaba Qo'shish</h2>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button>Qo'shish</button>
    </form>

</body>
</html>